# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Env
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
pgdata/

# Celery
celerybeat-schedule
celerybeat.pid

# Testing
.pytest_cache/
htmlcov/
.coverage

# OS
.DS_Store
Thumbs.db
